* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 0.5;
  background-color: gray;
}
html::-webkit-scrollbar-thumb {
  background: #d9296f;
}
/* html::-webkit-scrollbar-track{
    border-radius: 20px;
  } */
body {
  /* background: url(../images/1\ more.png); */
  background-color: black;
  background-size: cover;
  overflow-x: hidden;
}
section {
  padding: 3rem 9%;
}

.btn {
  margin-top: 1 rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  border: 0.2rem solid #d9296f;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
  color: #d9296f;
}
.btn:hover {
  background: black;
  color: lavender;
  /* color: black; */
  box-shadow: 0 0 10px whitesmoke;
  opacity: 0.6;
  z-index: 1000px;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  background: #fff;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5rem 9%;
  box-shadow: 5px 5px 5px rgb(50, 44, 44);
  margin-top: -5px;
}

.header .navbar {
  font-size: 1.7rem;
  color: #3d3d3d;
  display: inline-block;
  margin: 0 1rem;
}
.navbar a {
  margin: 10px;
  color: black;
  font-size: 22px;
  font-weight: 700;
}

.header.navbar a:hover {
  color: #d9296f;
}
.logo {
  font-size: 30px;
  color: #d9296f;
}
.logo:hover {
  color: #3d3d3d;
  font-size: 50px;
}

.logo span {
  font-size: 23px;
  color: black;
}

/* slider */

.home .box img {
  border-radius: 0.5rem;
  height: 60vh;
  width: 100%;
  object-fit: cover;
  /* margin-bottom: 1rem; */
  margin-top: 20px;
}
.home .box .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.swiper-button-prev {
  left: 0%;
}
.swiper-button-next {
  right: 0%;
}
.home .box .flex h3 {
  font-size: 2.5rem;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 1rem 3rem;
  background-color: aliceblue;
  font-size: 2rem;
  top: 40%;
  opacity: 0.8;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: black;
  font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.3;
  background-color: black;
}

/* about */

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-align: wrap;
  gap: 4rem;
  margin-top: 5rem;
}
.about .video-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.about .video-container video {
  border-radius: 1 rem;
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  margin-bottom: 5 rem;
}

.about .content span {
  color: #d9296f;
  font-size: 2rem;
}

.about .content h3 {
  color: white;
  font-size: 4rem;
  margin-top: 0.5rem;
}
.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: white;
  line-height: 2;
}

.video:hover {
  color: #eee;
  opacity: 0.7;
  /* height: 600px;
  width: 40px; */
}

/* about end */


/* Add to card start */
.container{
  width: 1000px;
  margin: auto;
  transition: 0.5s;
}
header{
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;

}
header .shopping{
  position:relative;
  text-align: right;

}
header .shopping img{
  width: 40px;
}
header .shopping span{
  background-color:black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 3px 10px;
}
.list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 20px;

}
.card{
  position: fixed;
  top: 0;
  left: calc(100% - 5px);
  width: 500px;
  background-color:gray;
  height: 100vh;
  transition: 0.5s;
}
.card h1{
  color: black;
  font-weight: 400;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
.card .checkout{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.card .checkout div{
  background-color:rgb(102, 192, 222);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.card .checkout div:nth-child(2){
  background-color: black;
  color: #fff;
}
.active .card{
  left:calc(100% - 500px);

}
.active .container{
  transform: translateX(-200px);
}
.list .item{
  text-align: center;
  background-color: black;
  padding: 20px;
  box-shadow: 0 0 10px whitesmoke;
  letter-spacing: 1px;
  margin: 10px;
  border-radius: 0.5px;
}
.list .item:hover{
  background-color: #d9296f;
  box-shadow: 0 0 10px white;
}

.list .item img{
  width: 80%;
  /* border: 4px solid rgb(77, 82, 33); */
  border-radius: .5px;
  box-shadow: 10px 10px 10px black;
}
.list .item .title{
  font-weight: 600;
}
.list .item button{
  background-color: #d9296f;
  color: black;
  padding: 10px;
  width: 100%;
  font-weight: bold;
}
.list .item button:hover{
  background-color: black;
  color: #d9296f;
}
.listcards li{
  display: grid;
  grid-template-columns: 100px repeat(3,1fr);
  color: #fff;
  row-gap: 10px;
  margin-bottom: 20px;

}
.listcards li div{
  display: flex;
  justify-content: center;
  align-items: center;

}
.listcards button{
  width: auto;
  background: #fff5;
 border: none;

}
.listcards .count{
  margin: 0 10px;
}



  /* Add to card  */


















/* gallery start */
.gallery {
  box-sizing: border-box;
  /* height: 1000px; */
}
small {
  font-size: 16px;
  color: cadetblue;
}
.text p {
  color: white;
  font-size: 15px;
  line-height: 23px;
  margin-right: 20px;
}
h1 {
  margin: 0;
  font-size: 20px;
  color: #d9296f;
  margin-left: 40px;
}

.skewed {
  width: 60em;
  height: 260px;
  color: #f1f1f1;
  border: 2px solid white;
  display: flex;
  background: #111;
  /* margin: 2em 0; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  margin: 30px;
  margin-left: 400px;
}

.text {
  padding: 1.5em;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
a {
  color: #d9296f;
  text-decoration: none;
  font-size: 20px;
  margin-left: 30px;
}
.image {
  width: 330px;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.image::before {
  content: "";
  position: absolute;
  left: -6.1em;
  top: 50%;
  transform: translateY(-50%) rotate(-20deg);
  background: #111;
  width: 40%;
  height: 140%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.skewed-left .image::before {
  transform: translateY(-50%) rotate(-20deg);
  left: initial;
  right: -6.1em;
}
/* img{
  width: 140%;
} */

/* gallery end*/

/* contact start */
.footer {
  position: relative;
  height: 800px;
  background-color: black;
  margin-left: 20px;
  margin-top: 10px;
}
.footer1 {
  display: flex;
  margin-left: 700px;
}
.footer1 img {
  margin-top: 100px;
  margin-left: 80px;
}
.footer1 h1,
p {
  font-size: 20px;
  color: #d9296f;
  margin-left: 80px;
}
.paragraph p {
  margin-top: 50px;
  font-size: 45px;
  color: #d9296f;
  margin-left: 600px;
}
/*.last{
 border: 10px solid red;
}
.last p{
 margin-left: 290px;
 font-size: 30px;
 color: grey;
}*/
/* .paragraph1{
  margin-top: 10px;
} */

.paragraph2 input {
  width: 1000px;
  height: 30px;
  text-decoration: none;
  text-align: left;
  margin-left: 275px;
  border: 2px solid grey;
  padding: 10px;
  color: grey;
}
.paragraph1 h1 {
  margin-left: 300px;
  font-size: 15px;
  color: #d9296f;
}
.paragraph3 button {
  margin-left: 600px;
  width: 200px;
  height: 38px;
  background-color: #d9296f;
  color: #000;
  font-size: 18px;
  box-shadow: 3px 3px 3px whitesmoke;
  margin-top: 70px;
  border-radius: 20px;
}
.paragraph3 p {
  margin-left: 600px;
  font-size: 30px;
  margin-top: 80px;
}
.smallimg img {
  float: right;
  width: 20px;
  margin-top: 40px;
  border-radius: 50%;
  padding: 10px;
  background-color: #000;
  margin-left: -10px;
  margin: 10px;
}
.smallimg #s1 {
  margin-right: 659px;
}
.smallimg #s2 {
  margin-right: 470px;
}
.smallimg #s3 {
  margin-right: 450px;
}
.smallimg #s4 {
  margin-right: 400px;
}
.underscore {
  margin-left: 200px;
}
/* contact end */

/* footer start */
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 2rem;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.8rem;
  color: rgb(249, 246, 241);
  padding: 1rem 0;
}
.footer .box-container .box a:hover {
  color: #d9296f;
}

.footer .box-container .box:first-child i {
  margin-left: 1.7rem;
}

.footer .box-container .box:nth-child(2) {
  text-align: center;
}
.footer .box-container .box:last-child {
  text-align: right;
}

.footer .box-container .box:last-child i {
  margin-left: 1.8rem;
}
.name h1 {
  font-size: 30px;
  color: #eee;
}

.name p {
  font-size: 50px;
  color: #000;
}
.name p:hover {
  color: #d9296f;
  margin-left: -10px;
}

.thankyou h1 {
  font-size: 60px;
  color: #d9296f;
  margin-left: 400px;
  margin-top: 100px;
}
/* footer end */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header .flex .fa-bars {
    display: inline-block;
  }
  .header .flex .btn {
    display: none;
  }
  .header .navbar {
    flex-flow: column;
    padding: 2rem;
    display: none;
  }
  .header .navbar .active {
    display: flex;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 10px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-align: wrap;
    gap: 4rem;
    margin-top: 5rem;
  }
  .about .video-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
  }

  .about .video-container video {
    border-radius: 1 rem;
    width: 100%;
  }

  .about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    margin-bottom: 5 rem;
  }

  .about .content span {
    color: #d9296f;
    font-size: 2rem;
  }

  .about .content h3 {
    color: white;
    font-size: 4rem;
    margin-top: 0.5rem;
  }
  .about .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: white;
    line-height: 2;
  }

  .video:hover {
    color: #eee;
    opacity: 0.7;
    /* height: 600px;
    width: 40px; */
  }

  /* about end */
}

@media (max-width: 758px) {
  .home .box img {
    height: 40vh;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 35%;
  }
}

@media screen and (max-width: 400px) {
  .skewed {
    /* display: block; */
    width: 20em;
  }
  .image,
  .text {
    width: 100%;
  }
  img {
    width: 160%;
  }
  .skewed .image::before {
    width: 120%;
    height: 40%;
    top: -5em;
    transform: translateX(-50%) rotate(10deg);
  }

  .skewed-left .image::before {
    transform: translateX(-50%) rotate(-10deg);
    top: initial;
    bottom: -5em;
  }
}



@media(max-width:991px)
{

    html
    {
        font-size: 55%;
    }

    .header .flex .fa-bars

    {
        display: inline-block;
    }
    .header .flex .btn{
        display: none;
    }
    .header .navbar{
        flex-flow: column;
        padding: 2rem;
        display: none;
    }
    .header .navbar .active{
        display: flex; 

    }
}




@media(max-width:758px){
 .home .box img{
    height: 40vh;

 }
    .swiper-button-next,
.swiper-button-prev{
    top: 35%;
}
   
}




@media(max-width:450px){
    html{
        font-size: 50%;
    }

    .header .flex .logo{
 font-size: 2rem;
    }

    .home .box img{
        height: 30rem;
    
     }
     .about .row .image img{
        width: 100%;
     }
     .addtocard .img{
        width: 20px;
        height: 100px;
        display: block;
     }
}


