* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
  }
  
  html::-webkit-scrollbar {
    width: 0.5;
    background-color: gray;
  }
  html::-webkit-scrollbar-thumb {
    background: #d9296f;
  }
  /* html::-webkit-scrollbar-track{
    border-radius: 20px;
  } */
  body {
    /* background: url(../images/1\ more.png); */
    background-color: black;
    background-size: cover;
    overflow-x: hidden;
  }
  section {
    padding: 3rem 9%;
  }
  
  .btn {
    margin-top: 1 rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    border: 0.2rem solid #d9296f;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
    color:#d9296f;
  }
  .btn:hover {
    background:black;
    color: lavender;
    /* color: black; */
    box-shadow: 0 0 10px whitesmoke;
    opacity: 0.6;
    z-index: 1000px;
  }
  
  /* header */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    background: #fff;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.5rem 9%;
    box-shadow: 5px 5px 5px rgb(50, 44, 44);
    margin-top: -5px;
  }
  
  .header .navbar {
    font-size: 1.7rem;
    color: #3d3d3d;
    display: inline-block;
    margin: 0 1rem;
  }
  .navbar a {
    margin: 10px;
    color: black;
    font-size: 22px;
    font-weight: 700;
  }
  
  .header.navbar a:hover {
    color: #d9296f;
  }
  .logo{
    font-size: 30px;
    color: white;
  }
  .logo:hover{
    color: #3d3d3d;
    font-size: 50px;
  
  }
  
  .logo span{
    font-size: 23px;
    color: black;
  }
  .logo span:hover{
    font-size:50px;
  }
  
  
  /* slider */
  
  .home .box img{
    border-radius: 0.5rem;
    height: 60vh;
    width: 100%;
    object-fit: cover;
    /* margin-bottom: 1rem; */
    margin-top: 20px;
  }
  .home .box .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .swiper-button-prev{
    left: 0%;
  }
  .swiper-button-next{
    right: 0%;
  }
  .home .box .flex h3 {
    font-size: 2.5rem;
  }
  
  
  .swiper-button-next,
  .swiper-button-prev{
    padding: 1rem 3rem;
    background-color: aliceblue;
    font-size: 2rem;
    top: 40%;
    opacity: 0.8;
  
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after{
    color: black;
    font-size: 2rem;
  }
  
  .swiper-button-next:hover,
  .swiper-button-prev:hover{
    opacity: 0.3;
    background-color: black;
  }
  
  
  
  

/* about */

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-align: wrap;
    gap: 4rem;
    margin-top: 5rem;
  }
  .about .video-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
  }
  
  .about .video-container video {
    border-radius: 1 rem;
    width: 100%;
  }
  
  .about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    margin-bottom: 5 rem;
  }
  
  .about .content span {
    color: #d9296f;
    font-size: 2rem;
  }
  
  .about .content h3 {
    color: white;
    font-size: 4rem;
    margin-top: 0.5rem;
  }
  .about .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: white;
    line-height: 2;
  }
  
  .video:hover {
    color: #eee;
    opacity: 0.7;
    /* height: 600px;
    width: 40px; */
  
  }
  
  /* about end */  